body{
margin: 0 auto;
text-align: center;
background: #4c240d;
}
.list_container{
  width: 100vw;
}

.todo_item {
  width: 80%;
  border-radius: 11px;
  padding: 15px;
  text-align: justify;
  overflow: auto;
  margin: 20px auto;
  min-height: 20px;

}
.input_container{
  margin: 50px;
}
.todo_item_complete{
  background: #1ce74eec;
}
.todo_item_incomplete{
  background: #f5b82e96;
}

button.input_btn {
  width: 129px;
  height: 40px;
  margin: 0 10px;
  background: #1ceb1cba;
  border: 0px;
  font-size: 21px;
  border-radius: 10px;
}

input.input_text {
  height: 30px;
  min-width: 50vw;
}